{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <section class="pv-30 clearfix">
        <div class="container">
            {{ content }}
        </div>
    </section>
{% endblock %}