<div class="animated fadeInDownSmall">
    <h1 class="margin-clear">Registration Successful</h1>
    Thank you for creating an account! Please check your email for the confirmation link to activate your account.
</div>