<div class="animated fadeInDownSmall">
    <h1 class="margin-clear">Application Complete</h1>
    Thank you for applying!
    <p>Please allow us a few hours to evaluate your application.</p>
    <p>For now, be sure to verify your email address by clicking on the link in the email we sent you earlier.</p>
</div>

<script>
    $('div#steps a').removeClass("active");
    $('#step_3').addClass("active");
</script>
